header{
	height: 80px;
	background-color: rgb(31, 31, 31);
	display: flex;
	align-items: center;
	position: fixed;
	width: 100%;
}
.header__container{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 0px 30px 0px 30px;

	height: 100%;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;
	overflow-y: scroll;
	overflow-x: hidden;
}

nav {
	display: flex;
	align-items: center;
	width: 340px;

}
nav li{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 700;
	color: azure;
	font-size: 15px;
	cursor: pointer;
	transition: 0.4s;
	display: inline;
}
nav li:hover {
	color: rgb(235, 201, 90);
}
nav ul{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.logo img{
	object-fit: cover;
	width: 140px;
}
.logo {
	-moz-user-select: none;
	-webkit-user-select: none; 
	-ms-user-select: none;
	cursor: pointer;
	height: 100%;
	margin: 0;
	display: flex;
	align-items: center;
	width: min-content;
}